*{
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

header {
    padding: 16px 0;
    background-color: rgb(12, 12, 41);
    color: aliceblue;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: rgb(57, 130, 158);
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands_list img{
    height: 24px;
}

.brands_list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

